@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');

:root{
    --back-dark: #1e1e2f;
    --back-light: #32334d;
    --accent: #55c0f0;
    --white: #eee;
}

body{
    padding:4rem;
    display:flex;
    flex-direction: column;
    gap:3rem;
    min-height: 100vh;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--back-dark);
}

.desc{
    font: 1.4rem "Cairo", sans-serif;
    color: var(--white);
}

#clientsGrid{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.card{
    width:200px;
    height: fit-content;
    max-height: 220px;
    overflow: hidden;
    background-color: var(--back-light);
    border-radius: 10px;
    color: var(--white);
    box-shadow: 0 10px 30px -10px rgba(.0, .0, 0, .3);
    transition: max-height .8s;
    padding: 1rem 1.3rem 2.3rem 1.3rem;
    position: relative;
}
.card:hover{
    box-shadow: 0 2px 0 0 var(--accent);
    max-height: 1000px;
}
.card::after{
    content:"^";
    position: absolute;
    font: 1.5rem "Cairo", sans-serif;
    bottom:-5px;
    left:50%;
    transform: translateX(-50%) rotate(180deg);
    color: var(--white);
    opacity: .5;
    transition: .8s;
}
.card:hover::after{
    transform: translateX(-50%) rotate(0);
}


.client-logo{
    padding: 1.3rem;
    position: relative;
}
.client-logo::after{
    content: "";
    width:80%;
    height:1px;
    position: absolute;
    top: 100%;
    left:50%;
    transform: translateX(-50%);
    background-color: #aaa;
}

.client-logo img{
    width: 100%;
    height: 100px;
    filter: brightness(500%);
}

.client-brand-name{
    font: 1.4rem "Cairo", sans-serif;
    text-align: center;
    padding: 1rem 0 ;
    margin-bottom: 3rem;
}


.widgetsList{
    list-style-type: none;
    padding: 0;
    width: 80%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
.widgetsList li{
    font: 1.5rem "Cairo", sans-serif;
    color:var(--white);
}
.widgetsList li a{
    text-decoration: none;
}
.widgetsList li a:hover{
    color: var(--accent) !important;
}
.widgetsList li a:visited{
    color:var(--white);
}
.widgetsList li a span{
    font-size: 1rem;
    opacity: .5;
}
